<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home - Pollinate Hub</title>
</head>

<body>
    <section class="hero" id="home">
        <div class="contain-inner">
            <div class="content">
                <a href="/">
                    <img src="/images/pollinatelogo.png" alt="Pollinate Hub">
                </a>
                <nav class="navigate">
                    <ul>
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li>
                            <a href="#who">About</a>
                        </li>
                        <li>
                            <a href="#work">Works</a>
                        </li>
                        <li>
                            <a href="#contact">Contact Us</a>
                        </li>
                    </ul>
                </nav>
                <div class="hero-main" style="background-image: url('/images/hey.jpg');">
                    <div class="hero-inner">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="whoweare" id="who">
        <div class="container">
            <div class="header">
                <h1>About Us</h1>
                <h2 class="mb-4">Who we are</h2>
            </div>
            <div class="content pb-3">
                <p class="mb-3">We are an innovative centre dedicated to empowering young people through technology and
                    social
                    capital for economic development.</p>
                <p class="mb-5">We are nurturing a generation of business owners, business leaders, business builders
                    (startups) by
                    providing an creative environment where business owners can improve their business and themselves.
                    We invite you to join us and grow with us.</p>
                <a class="cta-btn" href="#contact">Get In Touch</a>
            </div>
        </div>
    </section>
    <section class="work" id="work">
        <div class="container">
            <div class="header h-white">
                <h1>Our Work</h1>
                <h2 class="mb-4">What we do</h2>
            </div>
            <div class="content pt-4">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div class="content-icon mb-3">
                            <svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512"
                                width="512" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path
                                        d="m512 110c0-13.815-9.39-25.473-22.121-28.943 1.364-3.424 2.121-7.152 2.121-11.057 0-13.815-9.39-25.473-22.121-28.943 1.364-3.424 2.121-7.152 2.121-11.057 0-16.542-13.458-30-30-30h-107.8c-22.395 0-45.021 5.338-65.473 15.456l-9.088 4.544h-109.639c-3.904 0-7.633.758-11.057 2.121-3.47-12.731-15.128-22.121-28.943-22.121s-25.473 9.39-28.943 22.121c-3.424-1.363-7.153-2.121-11.057-2.121-13.815 0-25.473 9.39-28.943 22.121-3.424-1.363-7.153-2.121-11.057-2.121-16.542 0-30 13.458-30 30v107.8c0 42.151 18.136 69.698 20 74.561v109.639c0 3.904.758 7.633 2.121 11.057-12.731 3.47-22.121 15.128-22.121 28.943s9.39 25.473 22.121 28.943c-1.363 3.424-2.121 7.153-2.121 11.057 0 13.815 9.39 25.473 22.121 28.943-1.363 3.424-2.121 7.153-2.121 11.057 0 16.542 13.458 30 30 30h24.099c5.523 0 10-4.477 10-10s-4.477-10-10-10h-24.099c-5.514 0-10-4.486-10-10s4.486-10 10-10h20c5.523 0 10-4.477 10-10s-4.477-10-10-10c-13.99 0-26.01 0-40 0-5.514 0-10-4.486-10-10s4.486-10 10-10h40c5.523 0 10-4.477 10-10s-4.477-10-10-10c-9.1 0-44.228 0-60 0-5.514 0-10-4.486-10-10s4.486-10 10-10h60c5.523 0 10-4.477 10-10s-4.477-10-10-10h-40c-5.514 0-10-4.486-10-10s4.486-10 10-10h100c5.523 0 10-4.477 10-10v-10h25.2c23.908 0 45.305 13.198 55.841 34.443 1.689 3.404 5.16 5.557 8.959 5.557h82v90c0 3.506.61 6.87 1.72 10h-63.72c-1.553 0-3.084.361-4.472 1.056l-11.163 5.581c-17.67 8.742-37.23 13.363-56.565 13.363h-13.898c-5.523 0-10 4.477-10 10s4.477 10 10 10h13.898c22.395 0 45.021-5.338 65.472-15.456l9.089-4.544h89.639c3.904 0 7.633-.758 11.057-2.121 3.471 12.731 15.128 22.121 28.943 22.121s25.473-9.39 28.943-22.121c3.425 1.363 7.153 2.121 11.057 2.121 13.815 0 25.473-9.39 28.943-22.121 3.425 1.363 7.153 2.121 11.057 2.121 16.542 0 30-13.458 30-30v-120c0-1.52-.349-2.954-.955-4.244-1.948-16.892-6.858-33.581-14.501-49.028l-4.544-9.088v-109.64c0-3.904-.758-7.633-2.121-11.057 12.732-3.47 22.121-15.127 22.121-28.943zm-372 222h-90c-3.506 0-6.87.61-10 1.72v-83.72c0-1.552-.361-3.083-1.056-4.472-2.273-5.806-18.944-30.319-18.944-67.728v-107.8c0-5.514 4.486-10 10-10s10 4.486 10 10v20c0 5.523 4.477 10 10 10s10-4.477 10-10v-40c0-5.514 4.486-10 10-10s10 4.486 10 10v40c0 5.523 4.477 10 10 10s10-4.477 10-10c0-9.1 0-44.228 0-60 0-5.514 4.486-10 10-10s10 4.486 10 10v60c0 5.523 4.477 10 10 10s10-4.477 10-10v-40c0-5.514 4.486-10 10-10s10 4.486 10 10v100c0 5.523 4.477 10 10 10h10v25.2c0 23.545-13.52 45.464-34.443 55.841-3.404 1.689-5.557 5.16-5.557 8.959zm45.2-20h-25.2v-56.064c24.826-14.754 40-41.313 40-70.736v-25.2h56.065c14.753 24.826 41.311 40 70.735 40h25.2v56.064c-24.826 14.754-40 41.312-40 70.736v25.2h-56.064c-14.754-24.825-41.312-40-70.736-40zm306.8 130c0 5.514-4.486 10-10 10s-10-4.486-10-10v-20c0-5.523-4.478-10-10-10s-10 4.477-10 10v40c0 5.514-4.486 10-10 10s-10-4.486-10-10v-40c0-5.523-4.478-10-10-10s-10 4.477-10 10v60c0 5.514-4.486 10-10 10s-10-4.486-10-10v-60c0-5.523-4.478-10-10-10s-10 4.477-10 10v40c0 5.514-4.486 10-10 10s-10-4.486-10-10v-100c0-5.523-4.478-10-10-10h-10v-25.2c0-23.908 13.198-45.305 34.443-55.841 3.404-1.688 5.557-5.159 5.557-8.959v-82h90c3.506 0 6.87-.61 10-1.72v83.72c0 1.552.361 3.083 1.056 4.472l5.581 11.163c8.742 17.67 13.363 37.23 13.363 56.565zm-10-322h-60c-5.522 0-10 4.477-10 10s4.478 10 10 10h40c5.514 0 10 4.486 10 10s-4.486 10-10 10h-100c-5.522 0-10 4.477-10 10v10h-25.2c-23.546 0-45.465-13.52-55.841-34.443-1.688-3.403-5.159-5.557-8.959-5.557h-82v-90c0-3.506-.61-6.87-1.72-10h83.72c1.553 0 3.084-.361 4.473-1.056 5.799-2.269 30.317-18.944 67.727-18.944h107.8c5.514 0 10 4.486 10 10s-4.486 10-10 10h-20c-5.522 0-10 4.477-10 10s4.478 10 10 10h40c5.514 0 10 4.486 10 10s-4.486 10-10 10h-40c-5.522 0-10 4.477-10 10s4.478 10 10 10h60c5.514 0 10 4.486 10 10s-4.486 10-10 10z" />
                                    <circle cx="140" cy="499" r="10" />
                                </g>
                            </svg>
                        </div>
                        <h3>Community</h3>
                        <p>We are building an eclectic community of developers, innovators, and business startups and
                            supporting
                            them with our network mentors, investors and business coaches. </p>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="content-icon mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1"
                                viewBox="0 0 512 512" width="512" height="512">
                                <path id="path10"
                                    d="m 469.68854,149.05749 a 88.80208,88.80202 0 0 0 -66.72717,-24.21004 c -45.12504,2.96854 -81.75675,40.47981 -83.39606,85.38821 a 89.283643,89.283582 0 0 0 27.99439,68.54123 47.903363,47.90333 0 0 1 14.18301,41.38027 l -0.87188,6.68359 a 7.6720143,7.6720091 0 0 0 1.34683,6.07889 8.1678694,8.1678639 0 0 0 6.67921,3.34344 h 2.82231 v 19.97604 a 22.583956,22.583941 0 0 0 22.86101,22.90278 h 27.94162 a 22.583956,22.583941 0 0 0 22.86102,-22.90278 v -19.97604 h 1.86908 c 0.0879,0 0.27707,0.0989 0.36502,0.0967 a 8.5988568,8.598851 0 0 0 8.46582,-8.82094 c 0,-0.0615 0,-0.10994 -0.007,-0.17151 l -0.61021,-11.59487 v -0.0297 a 46.823696,46.823664 0 0 1 14.11265,-36.94174 c 1.24458,-1.16982 2.47267,-2.39461 3.65239,-3.63919 a 89.216577,89.216516 0 0 0 -3.54464,-126.10219 z m -47.16673,216.89092 h -27.94162 c -5.09378,0 -9.31239,-3.29836 -10.03475,-7.69618 h 48.01111 c -0.72233,4.39782 -4.94094,7.69618 -10.03474,7.69618 z m 9.66753,-20.88966 h -47.27667 v -8.79567 h 47.27667 z m -23.63833,-79.29282 a 7.7159926,7.7159874 0 1 1 7.71488,-7.716 7.7236887,7.7236835 0 0 1 -7.71488,7.716 z m 71.05574,-25.24243 a 75.443672,75.443621 0 0 1 -15.95533,25.56677 c -1.00491,1.06097 -2.05049,2.10436 -3.12358,3.11256 a 59.789597,59.789556 0 0 0 -18.2334,47.18098 l 0.35734,6.68579 h -28.05376 v -45.18766 a 20.559855,20.559841 0 0 0 14.5865,-19.8265 20.814928,20.814914 0 0 0 -20.77094,-20.90837 21.109583,21.109569 0 0 0 -21.10958,20.90837 21.580152,21.580137 0 0 0 14.10054,19.8265 v 45.18766 h -26.76081 l 0.17483,-1.24127 a 61.009995,61.009954 0 0 0 -18.19164,-52.68487 75.998899,75.998847 0 0 1 -23.87691,-58.41744 c 1.39521,-38.2545 32.61651,-70.19371 71.02495,-72.71586 A 76.045076,76.045024 0 0 1 479.61114,240.5235 Z M 197.45517,409.9267 c 3.64251,0 6.04702,-3.2577 6.04702,-6.9002 v -48.35191 c 0,-0.1836 0.26716,-0.36612 0.25177,-0.54973 a 41.028455,41.028427 0 0 0 -22.35088,-33.21128 c -0.23087,-0.10995 -0.14072,-0.21989 -0.38369,-0.30455 l -24.79388,-9.06612 v -8.45373 a 6.8463217,6.8463171 0 0 0 -3.74366,-5.81612 c -0.19679,-0.10994 -0.53103,-0.18801 -0.73443,-0.27267 l -0.0604,-0.011 -12.84826,-5.27739 a 71.164584,71.164536 0 0 0 41.31763,-59.77197 23.005047,23.005031 0 0 0 13.01097,-26.5123 18.740253,18.74024 0 0 0 -10.45585,-12.69653 l 1.15884,-16.80959 A 74.703737,74.703686 0 0 0 54.726898,119.81304 73.962703,73.962653 0 0 0 34.810227,175.92711 l 1.157729,16.78652 a 18.732556,18.732543 0 0 0 -10.49872,12.7196 23.025938,23.025922 0 0 0 13.049459,26.51891 71.110711,71.110663 0 0 0 41.423162,59.79614 l -12.566799,5.17624 0.02638,0.0661 c -0.211096,0.0858 -0.681664,0.17373 -0.886163,0.28257 a 6.8463217,6.8463171 0 0 0 -3.743652,5.81612 v 8.45373 l -24.86533,9.06612 a 4.8156238,4.8156205 0 0 0 -0.582714,0.30455 41.40337,41.403342 0 0 0 -22.695,33.21239 c -0.01539,0.18237 -0.233079,0.36489 -0.233079,0.54959 v 48.35191 a 7.3520722,7.3520672 0 0 0 7.146474,6.8991 h 64.833908 l 18.395018,24.37054 a 6.7462711,6.7462665 0 0 0 10.5548,0.0385 l 18.38842,-24.40903 z m -71.1349,-61.20567 a 6.4867991,6.4867947 0 0 0 2.98393,0.65418 6.6264302,6.6264257 0 0 0 5.27739,-2.67718 l 16.94923,-22.61802 13.1803,4.74746 a 41.188976,41.188948 0 0 0 -11.71251,25.304 c -0.0143,0.1814 -0.0714,0.36062 -0.0714,0.54312 v 42.05862 h -17.72984 z m -60.250268,48.01218 v -42.05862 c 0,-0.1836 0.03079,-0.36612 0.01539,-0.54973 A 41.128505,41.128477 0 0 0 54.398161,328.76919 l 13.058256,-4.71006 16.953635,22.59933 a 6.596745,6.5967405 0 0 0 8.939689,1.53043 l 0.578309,-0.23308 -9.033138,48.7774 z m 55.320308,-67.23508 19.14265,-12.7614 -12.7614,17.0152 z m 2.95094,-17.99811 -14.87127,10.06992 -14.81409,-10.03253 v -14.99769 a 65.998234,65.998189 0 0 0 14.65247,1.58872 65.271492,65.271448 0 0 0 15.03289,-1.67447 z m -26.73441,17.99811 -6.376854,4.2538 -12.765801,-17.0152 z m 92.70186,25.46562 v 41.76946 h -24.18808 v -41.76946 c 1.09947,-8.35587 5.16746,-15.95862 12.09405,-20.55984 6.92657,4.60122 12.09403,12.19407 12.09403,20.55984 z M 64.371339,128.81649 a 61.510248,61.510206 0 0 1 106.329641,46.20247 l -0.72564,10.5174 -5.34118,-22.01552 a 6.4747051,6.4747007 0 0 0 -0.34083,-1.028 33.525756,33.525733 0 0 0 -29.22358,-20.26406 l -6.28779,-0.27818 a 6.6176345,6.61763 0 0 0 -5.66661,2.76732 55.695218,55.69518 0 0 1 -51.291888,23.07652 L 61.253278,166.6576 a 9.2354429,9.2354366 0 0 0 -10.196368,8.44932 l -1.626098,20.34654 -0.05057,-0.0187 -1.407305,-20.41582 a 60.894552,60.894511 0 0 1 16.398405,-46.20245 z m -12.814177,98.23645 a 6.596745,6.5967405 0 0 0 -5.457705,-6.49779 9.7664807,9.7664741 0 0 1 -8.08871,-9.64332 9.9127085,9.9127018 0 0 1 0.279261,-2.34185 5.546763,5.5467592 0 0 1 2.094468,-3.2137 11.776289,11.776281 0 0 0 2.341844,1.6008 c 0.18251,0.0935 0.369417,0.17922 0.559625,0.25509 9.62245,3.85579 12.520621,4.31865 15.502349,2.47156 a 6.7539674,6.7539628 0 0 0 3.163139,-5.17843 l 1.941644,-24.29799 6.528578,0.70255 a 68.916193,68.916146 0 0 0 61.258485,-25.62833 l 2.81679,0.12423 a 20.272896,20.272882 0 0 1 17.46159,11.78837 l 9.92589,40.91409 a 6.596745,6.5967405 0 0 0 10.91104,3.26758 l 5.42253,-5.0575 c 0.1847,-0.17262 0.3518,-0.35843 0.52551,-0.53873 a 5.5698515,5.5698477 0 0 1 1.60852,2.79041 9.8093597,9.809353 0 0 1 -7.78525,11.98408 6.7066906,6.706686 0 0 0 -5.44562,6.59675 57.782011,57.781972 0 1 1 -115.563978,-0.0978 z M 27.58899,354.96375 a 29.189497,29.189477 0 0 1 12.643762,-20.61701 29.197193,29.197173 0 0 1 12.64376,20.61701 v 41.76946 H 27.58899 Z m 82.4593,64.22916 -12.79547,-17.05587 11.99288,-64.53811 0.25287,-0.16822 1.51836,1.0126 11.82025,63.69814 z m 286.95843,13.82237 h -55.1477 a 6.8968967,6.896892 0 0 0 -4.66391,11.66304 l 22.26181,22.32996 a 144.06631,144.06621 0 0 1 -208.3153,-29.75239 6.6006396,6.6006351 0 0 0 -10.80766,7.58075 157.2851,157.28499 0 0 0 228.50024,31.61377 l 23.50751,23.50859 a 6.596745,6.5967405 0 0 0 11.26174,-4.66389 v -55.14764 c 0,-3.6425 -2.95424,-7.13219 -6.59673,-7.13219 z m -6.59676,46.35419 -16.23789,-16.23786 -0.0275,-0.0352 c -0.17813,-0.2012 -0.36941,-0.65199 -0.56512,-0.82569 l -15.79371,-16.06196 h 32.6242 z M 145.82904,78.990223 h 55.1444 a 6.8968967,6.896892 0 0 0 4.66499,-11.663037 L 183.38211,44.997221 a 144.06631,144.06621 0 0 1 208.31202,29.752397 6.6022154,6.6022109 0 0 0 10.80766,-7.58625 157.2851,157.28499 0 0 0 -228.50025,-31.61378 l -23.5075,-23.503086 a 6.1987412,6.198737 0 0 0 -6.93867,-1.429294 6.3768533,6.376849 0 0 0 -3.82172,6.093189 v 55.147651 c 0,3.642499 2.45289,7.132175 6.09539,7.132175 z m 7.09809,-46.354194 15.98723,16.237876 c 0.009,0.01099 -0.10996,0.02309 -0.0978,0.03518 0.17921,0.201201 0.30676,0.651977 0.50246,0.82569 l 15.73213,16.061963 h -32.12396 z"
                                    style="stroke-width:1.09945" />
                            </svg>
                        </div>
                        <h3>Entrepreneurship</h3>
                        <p>We have proven success in discovering startups and nurturing their growth. We are continuing
                            this
                            through our incubator and accelerator programs</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="container">
            <div class="header">
                <h1>Contact Us</h1>
                <h2>We Cant wait to work with you</h2>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb">We are eager to establish partnerships and help you grow your startup.</p>
                        <form action="" method="POST" class="form-control">
                            <div class="form-group form-half">
                                <input type="text" name="name" id="" placeholder="Name" />
                            </div>
                            <div class="form-group form-half pr-2">
                                <input type="text" name="company" id="" placeholder="Company" />
                            </div>
                            <div class="form-group form-half">
                                <input type="email" name="email" id="" placeholder="Email" />
                            </div>
                            <div class="form-group form-half pr-2">
                                <input type="text" name="number" id="" placeholder="Phone Number" />
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
                            </div>
                            <input type="submit" value="SEND">
                        </form>
                    </div>
                    <div class="col-md-6">
                        <iframe src="" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="foot">
        <div class="contain-inner">
            <div class="content p-0">
                <div>
                    <img class="content-img" src="/images/logo_1.png" alt="Pollinate Hub">
                </div>
                <div class="copyright">
                    <small>Pollinate hub &copy; 2021 All rights reserved</small>
                </div>
            </div>
        </div>
        <div class="foot-info">
            <h3>Get In Touch</h3>
            <ul>
                <li>P.O 196, WA</li>
                <li>Upper West Region</li>
                <li>Ghana</li>
            </ul>
            <p>Tel: 0547840902</p>
            <p>Email: pollinatehub@gmail.com</p>
        </div>
    </section>
</body>

</html>